#map {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 865px;
    max-height: 900px;
    border: 2.5px solid #003c30;
}
.info {
    height: 35px;
    width: 245px;
    font: sans-serif;
    text-align: center;
    background: #003c30;
}
.info h3 {
    margin: 8.5px;
    color: #ffffff;
}
.sidepanel-content {
    font-size: 1rem;
}
.sidepanel-content h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.sidepanel-content a {
    text-decoration: none;
    font-size: 1rem;
    color: #c7eae5;
    transition: color 0.3s ease-in;
}
.sidepanel-content a:hover {
    color: #ffffff;
    text-decoration: underline;
}